body{
/*加载背景图*/
/*background-image:url(../source/xiangzi.gif);*/
background-image:url(../source/kucha.png);

/* 背景图位置
https://zhidao.baidu.com/question/560318110525077724.html
*/
/*background-position:center;
background-position:bottom;
*/
background-position:430px 650px;

/* 背景图不平铺 */
background-repeat:no-repeat;

/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 //此条属性必须设置否则可能无效 */
background-attachment:fixed;  

/* 让背景图基于容器大小伸缩 
background-size:cover;*/

/* 设置背景颜色，背景图加载过程中会显示背景色 
background-color:#CCCCCC;*/
}